@import '../../sass/_colors.scss';
@import '../../sass/_fonts.scss';

    .autocomplete{
        position: absolute;
        z-index: 2;
        top: 35px;
        right: 10px;
        padding-top: 3px;
        background-color: rgba(18, 18, 19, 0.4);
        border: 1px solid #242939;
        width: 148px;
        overflow-y: auto;
        max-height: 100px;
        .text{
            font-family: $font-primary;
            font-size: 9pt;
            color: #FFFFFF;
            padding: 3px 5px 3px 10px;
        }
        .text:hover{
            background-color: rgba(239,164,48,0.4);
            cursor: default;
        }
    }
    .autocomplete::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: rgba(35,41,57,0.84);
    }
    .autocomplete::-webkit-scrollbar{
        width: 5px;
        border-radius: 10px;
        background-color: rgba(35,41,57,0.84);
    }
    .autocomplete::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: rgba(18, 18, 19,0.6);
    }

