@import '../../sass/_colors.scss';
@import '../../sass/_fonts.scss';

@keyframes wraper_animate{
    from {
        margin-right: -25px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.panel{
    width: 790px;
    // width: 730px;
    height: 477px;
    font-family: $font-primary;
    border-radius: 3px;
    border: 1px solid #929296;
    background-color: rgba(0,0,0,0.66);
    header{
        border-radius: 3px 3px 0px 0px;
        border-bottom: 1px solid #929296;
        font-size: 9pt; 
        text-align: center;
        height: 28px;
        position: relative;
        background-color: #161923;
        div{
            color: #FFFFFF;
            padding-top: 7px;
        }
        img{
            position: absolute;
            top: 3px;
            right: 5px;
            width: 20px;
        }
    }
    .content{
        display: flex;
        height: calc(100% - 29px);
        width: 100%;
        position: relative;
        .searchinput{
            width: calc(32% - 5px);
            padding: 15px 5px 15px 15px;
            color: #FFFFFF;
            font-size: 9pt;
            overflow-y: auto;
            box-sizing: border-box;
            .divideblock,.divideblock2{
                display: flex;
                margin-bottom: 5px;
                font-weight: bold;
            }
            .buttonBox{
                display: flex;
                justify-content: center;
                padding-bottom: 5px;
            }
            .buttonBox .singleBtn{
                background-color: #000; /* Green */
                border: 1px solid #fff;
                border-radius: 3px;
                color: #fff;
                padding: 4px 10px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                float: left;
            }
            .buttonBox .singleBtnActive{
                background-color: #EFA430; /* Green */
                border: 1px solid #fff;
                border-radius: 3px;
                color: #fff;
                padding: 4px 10px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                float: left;
            }
            .buttonBox .singleBtnActive:not(:last-child){
                border-right: none; /* Prevent double borders */
            }
            .buttonBox .singleBtn:not(:last-child) {
                border-right: none; /* Prevent double borders */
            }
            .divideblock2{
                margin-top: 10px;
            }
            .horizontalline{
                width: 100%;
                margin: 7px 12px 0px 10px;
                border-top: 1px solid #464a5f;
            }
            .footerwrap{
              position: relative;
              padding-top: 7px;
            }
            .helpbtn{
              position: absolute;
              bottom: 1px;
            }
            .searchbtn{
              width: 55%;
              margin: auto;
              padding-right: 10px;
            }
            .row{
                margin-bottom: 5px;
                .bottomspace{
                  margin-bottom: 5px;
                }
                .block{
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    .reservespace{
                      margin-top: 5px;
                    }
                    .icon{
                        left: 110px;
                        position: absolute;
                        width: 16px;
                        top: 22px;
                    }
                    .icon:hover{
                        cursor: pointer;
                    }
                    .unittext{
                        opacity: 0.5;
                        cursor: default;
                    }
                }
                .choose{
                     display: flex;
                     margin-left: 2px;
                     .text{
                        margin-top: 3px;
                        cursor: default;
                     }
                     .marginradio{
                       margin-top: 9px;
                     }
                }
                .hinttext{
                    font-size: 8pt;
                    // color: #ef303e;
                    color: #EFA430;
                    padding-left: 25px;
                    padding-top: 5px;
                }
                .input,.inputdate,.inputtime,.inputradio,.inputtype{
                    background-color: #464a5f;
                    border-radius: 3px;
                    padding-right: 5px;
                    padding-left: 5px;
                    outline: none;
                    border: none;
                    height: 20px;
                    margin-top: 5px;
                    color: #FFFFFF;
                }
                .input{
                    width: 70px;
                    text-align: right;
                }
                .input::-webkit-input-placeholder{
                    color: #000000;
                }
                .input::-moz-placeholder{
                    color: #000000;
                }
                .inputdate{
                    width: 120px;
                    margin-right: 10px;
                }
                .inputdate::-webkit-input-placeholder{
                    color: #000000;
                }
                .inputdate::-moz-placeholder{
                    color: #000000;
                }
                .inputtime{
                    width: 70px;
                    height: 22px;
                    padding-left: 0px;
                }
                .inputtype{
                    width: 130px;
                    height: 22px;
                    padding-left: 0px;
                }
                .inputradio{
                    width: 38px;
                    margin-right: 1px;
                    text-align: right;
                    opacity: 0.5;
                    box-sizing : 'border-box';
                }
                .inputradio::-webkit-input-placeholder{
                    color: #000000;
                }
                .inputradio::-moz-placeholder{
                    color: #000000;
                }
            }
        }
        .searchinput::-webkit-scrollbar-track{
            border-radius: 10px;
            background-color: rgba(35,41,57,0.84);
        }
        .searchinput::-webkit-scrollbar{
            width: 5px;
            border-radius: 10px;
            background-color: rgba(35,41,57,0.84);
        }
        .searchinput::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: rgba(18, 18, 19,0.76);
        }
        .searchresult{
            width: calc(68% + 5px);
            border-left: 1px solid #929296;
            color: #FFFFFF;
            font-size: 9pt;
            overflow-y: auto;
            box-sizing: border-box;
            .label{
                padding: 15px;
                .secondlabel{
                    opacity: 0.5;
                }
                .detaillabel{
                    display: flex;
                    margin: 10px 0px 10px 0px;
                    padding-left: 40px;
                    height: 70px;
                    overflow-y: auto;
                    .column1{
                      width: 55%;
                      
                    }
                    .column2{
                      width: 45%;
                    }
                    .empty{
                      display: inline-block;
                    }
                    .hilight{
                      color: #EFA430;
                    }
                }
                .detaillabel::-webkit-scrollbar-track{
                    border-radius: 10px;
                    background-color: rgba(35,41,57,0.84);
                }
                .detaillabel::-webkit-scrollbar{
                    width: 5px;
                    border-radius: 10px;
                    background-color: rgba(35,41,57,0.84);
                }
                .detaillabel::-webkit-scrollbar-thumb{
                    border-radius: 10px;
                    background-color: rgba(18, 18, 19,0.76);
                }
            }
            .data{
                width: 100%;
                .cardResult{
                    margin: 5px 15px 5px 5px;
                    padding: 5px 20px 5px 15px;
                    background-color: #1C2230;
                    line-height: 1.6; 
                    .siteName{
                        padding: 15px 0px 1 5px 0px;
                        font-size: 15px;
                        .region{
                            font-size: 8px;
                            color: #90ACB1;
                        }
                    }
                    .date{
                        font-size: 10px;
                        color: #EFA430;
                        font-style: italic;
                        span{
                            color: #fff;
                            font-style: normal;
                        }
                    }
                    .detail{
                        display: grid;
                        grid-template-columns: auto auto auto;
                        span > span{
                            color: #EFA430;
                        }
                    }
                }
                .head{
                    margin: 100px 20px 100px 15px;
                }
                .container{
                    width: 100%;
                    overflow: auto;
                    white-space: nowrap;
                    height: 282px;
                    table{
                        width: 100%;
                    }
                    thead{
                        background-color: rgba(35,41,57,0.84);
                    }
                    th{
                        text-align: left;
                        position: relative;
                        padding: 5px 10px 5px 15px;
                    }
                    td{
                        padding: 5px 10px 5px 15px;
                    }
                    th, td {
                        display: inline-block;
                        width: 177px;
                        box-sizing: border-box;
                    }
                    .cursor{
                        cursor: pointer;
                    }
                    .icon{
                       position: absolute;
                       top: 0px;
                    }
                    .itemactive{
                        background-color: rgba(239,164,48,0.4);
                    }
                    .item:hover{
                        background-color: rgba(239,164,48,0.4);
                        cursor: default;
                    }
                }
                .container::-webkit-scrollbar-track{
                    border-radius: 10px;
                    background-color: rgba(35,41,57,0.84);
                }
                .container::-webkit-scrollbar{
                    width: 5px;
                    height: 5px;
                    border-radius: 10px;
                    background-color: rgba(35,41,57,0.84);
                }
                .container::-webkit-scrollbar-thumb{
                    border-radius: 10px;
                    background-color: rgba(18, 18, 19,0.76);
                }
            }
        }
        .searchresult::-webkit-scrollbar-track{
            border-radius: 10px;
            background-color: rgba(35,41,57,0.84);
        }
        .searchresult::-webkit-scrollbar{
            width: 5px;
            border-radius: 10px;
            background-color: rgba(35,41,57,0.84);
        }
        .searchresult::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: rgba(18, 18, 19,0.76);
        }
    }
}
.helpContent{
    width: 260px;
    height: 460px;
    font-family: $font-primary;
    border-radius: 3px;
    text-align: left;
    position: relative;
    font-size: 9pt;
    color: #EFA430;
    display: none;
    
    animation-name: wraper_animate;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;

    .helpHeader{
      padding-top: 6px;
      padding-left: 35%;
      font-weight: bold;
      img{
        position: absolute;
        top: 4px;
        right: 30px;
        width: 20px;
      }
    }
    
    .horizontalline{
        width: 53%;
        margin-top: 8px;
        border-top: 1px solid #FFFFFF;
        padding-left: 35%;
    }
    .helpResource{
        width: 220px;
        height: 50px;
        margin-top: 15px;
        border-radius: 3px;
        border: 1px solid #FFFFFF;
        background-color: rgba(0,0,0,0.66);
        font-size: 9pt;
        padding: 8px 0px 0px 8px;
    }
    .helpDuration{
        width: 210px;
        min-height: 160px;
        margin-top: 15px;
        border-radius: 3px;
        border: 1px solid #FFFFFF;
        background-color: rgba(0,0,0,0.66);
        font-size: 9pt;
        padding: 8px 8px 8px 8px;
    }
    .helpOthers{
        width: 210px;
        height: 105px;
        margin-top: 15px;
        border-radius: 3px;
        border: 1px solid #FFFFFF;
        background-color: rgba(0,0,0,0.66);
        font-size: 9pt;
        padding: 8px 8px 0px 8px;
    }
    .helpResourceArrow{
      position: absolute;
      right: 2px;
      top: 65px;
    }
    .helpDurationArrow{
      position: absolute;
      right: 2px;
      top: 190px;
    }
    .helpOthersArrow{
      position: absolute;
      right: 2px;
      top: 345px;
    }
}




:global .react-datepicker__tether-element-attached-top .react-datepicker__triangle, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, :global .react-datepicker__year-read-view--down-arrow, :global .react-datepicker__month-read-view--down-arrow {
  margin-left: -8px;
  position: absolute; }
  :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, :global .react-datepicker__year-read-view--down-arrow, :global .react-datepicker__month-read-view--down-arrow, :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, :global .react-datepicker__year-read-view--down-arrow::before, :global .react-datepicker__month-read-view--down-arrow::before {
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px; }
  :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, :global .react-datepicker__year-read-view--down-arrow::before, :global .react-datepicker__month-read-view--down-arrow::before {
    content: "";
    z-index: -1;
    border-width: 8px;
    left: -8px;
    border-bottom-color: #aeaeae; }

:global .react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px; }
  :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle, :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    border-top: none;
    border-bottom-color: #f0f0f0; }
  :global .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    top: -1px;
    border-bottom-color: #aeaeae; }

:global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, :global .react-datepicker__year-read-view--down-arrow, :global .react-datepicker__month-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px; }
  :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, :global .react-datepicker__year-read-view--down-arrow, :global .react-datepicker__month-read-view--down-arrow, :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, :global .react-datepicker__year-read-view--down-arrow::before, :global .react-datepicker__month-read-view--down-arrow::before {
    border-bottom: none;
    border-top-color: #fff; }
  :global .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, :global .react-datepicker__year-read-view--down-arrow::before, :global .react-datepicker__month-read-view--down-arrow::before {
    bottom: -1px;
    border-top-color: #aeaeae; }

:global .react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative; }

:global .react-datepicker__triangle {
  position: absolute;
  left: 50px; }

:global .react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px; }

:global .react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative; }

:global .react-datepicker__year-dropdown-container--select,
:global .react-datepicker__month-dropdown-container--select,
:global .react-datepicker__year-dropdown-container--scroll,
:global .react-datepicker__month-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px; }

:global .react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem; }

:global .react-datepicker__navigation {
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 0.45rem solid transparent;
  z-index: 1; }
  :global .react-datepicker__navigation--previous {
    left: 10px;
    border-right-color: #ccc; }
    :global .react-datepicker__navigation--previous:hover {
      border-right-color: #b3b2b2; }
  :global .react-datepicker__navigation--next {
    right: 10px;
    border-left-color: #ccc; }
    :global .react-datepicker__navigation--next:hover {
      border-left-color: #b3b2b2; }
  :global .react-datepicker__navigation--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    :global .react-datepicker__navigation--years-previous {
      top: 4px;
      border-top-color: #ccc; }
      :global .react-datepicker__navigation--years-previous:hover {
        border-top-color: #b3b2b2; }
    :global .react-datepicker__navigation--years-upcoming {
      top: -4px;
      border-bottom-color: #ccc; }
      :global .react-datepicker__navigation--years-upcoming:hover {
        border-bottom-color: #b3b2b2; }

:global .react-datepicker__month-container {
  display: inline;
  float: left; }

:global .react-datepicker__month {
  margin: 0.4rem;
  text-align: center; }

:global .react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

:global .react-datepicker__day-name,
:global .react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

:global .react-datepicker__day {
  cursor: pointer; }
  :global .react-datepicker__day:hover {
    border-radius: 0.3rem;
    background-color: #f0f0f0; }
  :global .react-datepicker__day--today {
    font-weight: bold; }
  :global .react-datepicker__day--highlighted {
    border-radius: 0.3rem;
    background-color: #3dcc4a;
    color: #fff; }
    :global .react-datepicker__day--highlighted:hover {
      background-color: #32be3f; }
  :global .react-datepicker__day--selected, :global .react-datepicker__day--in-selecting-range, :global .react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: #216ba5;
    color: #fff; }
    :global .react-datepicker__day--selected:hover, :global .react-datepicker__day--in-selecting-range:hover, :global .react-datepicker__day--in-range:hover {
      background-color: #1d5d90; }
  :global .react-datepicker__day--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #2a87d0;
    color: #fff; }
    :global .react-datepicker__day--keyboard-selected:hover {
      background-color: #1d5d90; }
  :global .react-datepicker__day--in-selecting-range:not(:global .react-datepicker__day--in-range) {
    background-color: rgba(33, 107, 165, 0.5); }
  .react-datepicker__month--selecting-range :global .react-datepicker__day--in-range:not(:global .react-datepicker__day--in-selecting-range) {
    background-color: #f0f0f0;
    color: #000; }
  :global .react-datepicker__day--disabled {
    cursor: default;
    color: #ccc; }
    :global .react-datepicker__day--disabled:hover {
      background-color: transparent; }

:global .react-datepicker__input-container {
  position: relative;
  display: inline-block; }

:global .react-datepicker__year-read-view,
:global .react-datepicker__month-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem; }
  :global .react-datepicker__year-read-view:hover,
  :global .react-datepicker__month-read-view:hover {
    cursor: pointer; }
    :global .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
    :global .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
    :global .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
    :global .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow {
      border-top-color: #b3b2b2; }
  :global .react-datepicker__year-read-view--down-arrow,
  :global .react-datepicker__month-read-view--down-arrow {
    border-top-color: #ccc;
    float: right;
    margin-left: 20px;
    top: 8px;
    position: relative;
    border-width: 0.45rem; }

:global .react-datepicker__year-dropdown,
:global .react-datepicker__month-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae; }
  :global .react-datepicker__year-dropdown:hover,
  :global .react-datepicker__month-dropdown:hover {
    cursor: pointer; }
  :global .react-datepicker__year-dropdown--scrollable,
  :global .react-datepicker__month-dropdown--scrollable {
    height: 150px;
    overflow-y: scroll; }

:global .react-datepicker__year-option,
:global .react-datepicker__month-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  :global .react-datepicker__year-option:first-of-type,
  :global .react-datepicker__month-option:first-of-type {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; }
  :global .react-datepicker__year-option:last-of-type,
  :global .react-datepicker__month-option:last-of-type {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; }
  :global .react-datepicker__year-option:hover,
  :global .react-datepicker__month-option:hover {
    background-color: #ccc; }
    :global .react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
    :global .react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming {
      border-bottom-color: #b3b2b2; }
    :global .react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
    :global .react-datepicker__month-option:hover .react-datepicker__navigation--years-previous {
      border-top-color: #b3b2b2; }
  :global .react-datepicker__year-option--selected,
  :global .react-datepicker__month-option--selected {
    position: absolute;
    left: 15px; }

:global .react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle; }
  :global .react-datepicker__close-icon::after {
    background-color: #216ba5;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\00d7";
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 1;
    margin: -8px auto 0;
    padding: 2px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 50%; }

:global .react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left; }

:global .react-datepicker__tether-element {
  z-index: 2147483647; }

:global .react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647; }
  :global .react-datepicker__portal .react-datepicker__day-name,
  :global .react-datepicker__portal .react-datepicker__day {
    width: 3rem;
    line-height: 3rem; }
  @media (max-width: 400px), (max-height: 550px) {
    :global .react-datepicker__portal .react-datepicker__day-name,
    :global .react-datepicker__portal .react-datepicker__day {
      width: 2rem;
      line-height: 2rem; } }
  :global .react-datepicker__portal .react-datepicker__current-month {
    font-size: 1.44rem; }
  :global .react-datepicker__portal .react-datepicker__navigation {
    border: 0.81rem solid transparent; }
  :global .react-datepicker__portal .react-datepicker__navigation--previous {
    border-right-color: #ccc; }
    :global .react-datepicker__portal .react-datepicker__navigation--previous:hover {
      border-right-color: #b3b2b2; }
  :global .react-datepicker__portal .react-datepicker__navigation--next {
    border-left-color: #ccc; }
    :global .react-datepicker__portal .react-datepicker__navigation--next:hover {
      border-left-color: #b3b2b2; }

