@import './_colors.scss';
@import './_fonts.scss';

:global{
    body{
        margin: 0px;
        .btn, .btn--info,.btn--delete,.btn--disabled{
            border-radius: 3px;
            font-size: 9pt;
            padding: 4px;
            outline: none;
            border: none;
            margin-left: 5px;
            margin-top: 5px;
            color: #FFFFFF;
            width: 95%;
        }
        .btn{
            background-color: #739AAF;
        }
        .btn:hover{
             background-color: $bg-color-primary;
        }
        .btn--disabled{
            background-color: #739AAF;
            opacity: 0.5;
        }
        .btn--info{
            background-color: #EFA430;
            margin-bottom: 5px;
        }
        .btn--info:hover{
            background-color: $bg-color-primary;
        }
        .btn--delete{
            background-color: #ef303e;
        }
        .btn--delete:hover{
             background-color: $bg-color-primary;
        }
        .modal{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-backdrop-filter: blur(15px);
            background-color: rgba(7,7,7,0.86);
            width: 100%;
            height: calc(100% - 49px);
            z-index: 4;
        }
        .halfmodal{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-backdrop-filter: blur(15px);
            background-color: rgba(7,7,7,0.86);
            width: calc(100% - 220px);
            height: calc(100% - 49px);
            z-index: 4;
        }
        .halfmodal--hidden{
            position: absolute;
            -webkit-backdrop-filter: blur(15px);
            background-color: rgba(7,7,7,0.86);
            width: calc(100% - 220px);
            height: calc(100% - 49px);
            z-index: 5;
            visibility: hidden;
        }

        .tooltip {
            position: relative;
        }
        .tooltiptext--hide{
            visibility: hidden;
        }
        .tooltip:hover .tooltiptext--left{
            visibility: visible;
        }
        .tooltip--small{
            width: 60px !important;
        }
        .tooltip .tooltiptext--left{
            visibility: hidden;
            width: 100%;
            font-size: 9pt;
            background-color: black;
            color: #EFA430;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: -1px;
            right: 110%;
        }
        .tooltip .tooltiptext--left::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent black;
        }
    }  
}
 

