@import '../../sass/_colors.scss';
@import '../../sass/_fonts.scss';
@keyframes card_animate {
    from {
        margin-top: -25px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card{
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    width: calc(100% - 21px);
    border: 1px solid #3D4153;    
    background-color: #3D4153;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: #fff;
    animation-name: card_animate;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    .article{
        border-radius: 3px 3px 0px 0px;
        background-color: #55596A;
        height: 25px;
        width: 100%;
        cursor: default;
        .checkbox{
            float: left;
            margin-left: 10px;
            margin-top: 6px;
        }
        .title{
            float: left;
            font-size: 9pt;
            padding-left: 5px;
            margin-top: 5px;
        }
        .close{
            position: absolute;
            right: 5px;
            top: 3px;
        }
    }
    .chartIcon1{
        position: absolute;
        left: -5px;
        top: 109px;
    }
    .chartIcon2{
        position: absolute;
        right: -5px;
        top: 109px;
    }
    .chartIcon1:hover,.chartIcon2:hover{
        cursor: pointer;
    }
    .disbleChart{
        display: none;
    }
    .visibleChart{
        visibility: hidden;
    }
    .visibleChart2{
        visibility: hidden;
        margin-right: 18px;
    }
    .data{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 7pt;
        .cardname{
            font-size: 12pt;
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
        }
        .calendar{
            display: flex;
            justify-content: center;
            margin: auto;
            .icon:hover{
                cursor: pointer;
            }
            .date{
                padding-top: 5px;
                font-size: 9pt;
            }
        }
        .chart{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 10px;
            .chartWrap{
                width: 50%;
                .wrap{
                    position: relative;
                    margin: auto;
                    width: 80%;
                }
            }
            .padding{
                padding-bottom: 5px;
                // padding-left: 10px;
                // padding-right: 10px;
            }
            .innerlabel{
                position: absolute;
                width: 100%;
                // width: 50px;
                margin-top: 20px;
                // margin-left: 12px;
                .label{
                     font-size: 13pt;
                     margin: auto;
                     text-align: center;
                }
                 .minilabel{
                     font-size: 7pt;
                     margin: auto;
                     text-align: center;
                }
            }
            .label{
                margin: auto;
                text-align: center;
            }
            // .chartwrap{
            //     width: 90px !important;
            //     height: 75px !important;
            // }
        }
        .resource{
            font-size: 8pt;
            padding-left: 5px;
            .cpu, .mem{
                width: 11px;
                height: 11px;
                border-radius: 2px;
                position: absolute;
            }
            .cpu{
                background-color: #EFA430;
            }
            .mem{
                background-color: #9CCBE5;
            }   
            .cpudetail{
                color: #EFA430;
            }
            .memdetail{
                color: #9CCBE5;
            }
            .detail{
                display: inline-block;
                width: 85px;
                margin-left: 18px;
            }
            .space{
                margin-top: 5px;
            }
        }
    }
    .section{
        display: flex;
        font-size: 9pt;
        height: 21px;
        width: 100%;
        background-color: #464A5F;
        margin-top: 9px;
        .text{
            float: left;
            margin-left: 10px;
            margin-top: 3px;
        }
        .type{
            width: 50%;
            padding-left: 4px;
            border-left: 1px solid rgba(0, 0, 0, 0.16);
            .name{
                float: left;
                margin-left: 5px;
                margin-top: 4px;
            }
            .deactive{
                width: 8px;
                height: 8px;
                border-radius: 4px;
                background-color: #929294;
                float: right;
                margin-right: 10px;
                margin-top: 6px;
            }
            .active{
                width: 8px;
                height: 8px;
                border-radius: 4px;
                background-color: #76FF03;
                float: right;
                margin-right: 10px;
                margin-top: 6px;
            }
        }
    }
    .desc{
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 9px;
        .title{
            font-size: 9pt;
            padding-bottom: 5px;
        }
        .detail{
            font-size: 8pt;
            color: #E0E0E0;
            // color: #929294;
        }
    }
}