@import '../../sass/_colors.scss';
@import '../../sass/_fonts.scss';

#navigate{
    margin: auto;
    position: absolute;
    top: 48px;
    bottom: 0;
    height: 170px;
    width: 40px;
    background-color: $bg-overlay-primary;
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px rgba(10, 13, 20, 0.7);
    .menu{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        text-align: center;
        margin-top: 7px;
        display: flex;
        .text{
            display: block;
            color: orange;
            padding-left: 10px;
            padding-top: 3px;
            font-family: $font-primary;
            font-size: 14px;
        }
    }
    .menu:hover{
        background-color: rgba(10, 13, 20,0.8);
        width: 130px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
}