@import '../../sass/_colors.scss';
@import '../../sass/_fonts.scss';

.loginModal{
    z-index: 10 !important;
}

.panel{
    width: 330px;
    height: 200px;
    font-family: $font-primary;
    border-radius: 3px;
    border: 1px solid #929296;
    background-color: rgba(0,0,0,0.66);
    header{
        border-radius: 3px 3px 0px 0px;
        border-bottom: 1px solid #929296;
        font-size: 9pt; 
        text-align: center;
        height: 28px;
        background-color: #161923;
        div{
            color: #FFFFFF;
            padding-top: 7px;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon{
            position: absolute;
            width: 18px;
            height: 18px;
            margin-top: 2px;
            margin-left: 2px;
        }
        .input{
            padding-left: 22px;
            background-color: #464a5f;
            border-radius: 3px;
            outline: none;
            width: 155px;
            border: none;
            height: 20px;
            color: #FFFFFF;
        }
        .input::-webkit-input-placeholder{
            color: #000000;
        }
        .input::-moz-placeholder{
            color: #000000;
        }
        .user{
            margin-top: 10px;
            text-align: center;
        }
        .pass{
            margin-top: 10px;
            text-align: center;
        }
        .btn{
                width: 180px;
                margin-top: 15px !important;
                .cancel,.ok{
                    border-radius: 3px;
                    font-size: 9pt;
                    padding: 4px;
                    outline: none;
                    border: none;
                    color: #FFFFFF;
                    width: 85px;
                }
                .cancel{
                    float: right;
                    background-color: #ef303e;
                }
                .ok{
                    float: left;
                    background-color: #739aaf;
                }
                .cancel:hover,.ok:hover{
                    background-color: $bg-color-primary;
                }
                
        }
        .forget{
            text-align: center;
            margin-top: 10px; 
            font-size: 9pt;
            outline: none;
            color: #929296;
        }
        .forget:hover{
            cursor: pointer;
            border-bottom: 1px solid #929296;
        }
        .incorrect{
            margin-top: 10px;
            font-size: 9pt;
            color: red;
        }
    }
    .alert{
        height: 24px;
        .text{
            display: none;
            box-sizing: border-box;
            font-family: $font-primary;
            font-size: 9pt;
            // background-color: rgba(73,8,9,0.43);
            background-color: #490809;
            text-align: center;
            padding: 5px;
            color: #FFFFFF;
        }
    }

}